#navegacion {
    width: 79.32%;
    padding: 12px;
    margin: 12px;
    background-color: white;
}

.encabezados {
    width: 80%;
    padding: 12px;
    font-size: 32pt;
    color: black;
    background-color: white;
}

body {
    background-color: rgb(3, 8, 39);
}

#zona-encabezado {
    font-size: 25px;
    width: 80%;
    padding: 12px;
    color: white;
    background-color: rgb(116, 116, 224);
}

#zona-imagenes {
    width: 80%;
    padding: 12px;
    background-color: rgb(116, 116, 224);
    text-align: center;
}


#zona-cuerpo {
    width: 80%;
    padding: 12px;
    font-size: 20px;
    color: black;
    background-color: rgb(116, 116, 224);
}

#zona-final {
    width: 80%;
    font-size: 20px;
    padding: 12px;
    color: black;
    background-color: white;
    font-size: 10pt;
}

img {
    width: 30%;
}